@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #A5A692, #BFB78F);
}

main {
    border-radius: 10px; /*Bordas*/
    box-shadow: 5px 5px 3px rgba(76, 77, 67, 0.507); /*Sombra*/
    background-color: white;
    width: 600px; /*Largura*/
    padding: 10px;
    margin: auto;
}

h1{
    color: #011F26;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.562);
}

h2{
    color: #025E73;
}


p{
    text-align: justify;
}